
section{
    padding: 80px 0;
}
.section-person{
    padding:0;
}
.person-showcase{
    margin-right: 0;
    padding:0;
    list-style: none;
    width: 100%;
}
.person-showcase li{
    width: 25%;
    display: block;
    float: left;
}
.person-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.person-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s;
}
.person-photo img:hover{
    opacity: 1;
    transform: scale(1.3);
}
.section__config
{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 4em;
    color: #111;
}

.config__showcase{
    /*display: flex;*/
    /*justify-content: center;*/
    /*list-style: none;*/
    /*flex-flow: row-reverse;*/
    /*font-size: 16px;*/
    /*letter-spacing: 1px;*/
    /*padding: 0;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 30px;*/
    /*font-weight: 400;*/
    /*font-family: "Open Sans",Arial, Helvetica, sans-serif;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    list-style-type: none;
    display: flex;
    flex-flow: row-reverse;
}
.figure:hover
{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;

}
.figure
{
    /*display: flex;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 0;*/
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

.figure__item
{
    /*color: rgba(17, 17, 17, 0.45);*/
    /*align-items: center;*/
    /*padding: 5px;*/
    /*background-color: #FAB207;*/
    /*color: #111;*/
}
