.container__back
{
    margin-top: 150px;
}
.post__content
{
    list-style: none;
    line-height: 1.7em;
    margin-bottom: 30px;
    /*margin-top: 80px;*/
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
.post__image
{
    position: relative;
    display: block;
    /*margin-top: 80px;*/
    width: 100%;
    height: 100%;

}
.img__content{
    border-bottom:  solid 4px #FAB702;
    width: 100%;
}
.post__content h3
{
    color: #ffffff;
    text-transform: none;
    letter-spacing: 0;
    font-size: 24px;
}
.post__text
{
    margin-top: 40px;
    padding-right: 80px;

}
.btn__more
{

    background-color: #FAB702;
    padding: 3px 25px 3px 25px;
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    float: left;
}
a, a:hover, a:active, a:focus {
    outline: 0;
}
.vsearchmaster
{
    padding-bottom: 40px;
}
.vsearch
{
    box-sizing: border-box;
    display: block;
}
.vsearch_input
{
    padding: 4px 0 4px 10px;
    float: left;
    width: 70%;
    margin-top: 1px;
    height: 3.4em;
    line-height: 42px;
    color: #fff;
    border: solid 1px rgba(0,0,0,.3);
    background: rgba(0,0,0,.2);
    border-radius: 0;


}
.vsearch_input:focus
{
    box-shadow: none;
    outline: none !important;
    border: solid 1px #FAB702 ;
}
.vsearch_button
{
    background-color: #FAB702;
    color: #111111;
    border: none;
    padding: 7px;
    float: left;
    width: 30%;
    height: 44px;
    font-size: 25px;
    line-height: inherit;
}
.vsearch_button:hover
{
    background-color: white;
    color: #111111;
    border: none;
    padding: 7px;
    float: left;
    width: 30%;
    height: 44px;
    font-size: 25px;
    line-height: inherit;
}
.border_widget
{
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
.recent_post
{
    direction: rtl;
}
.smalll_border
{
    background-color: #FAB702;
    height: 2px;
    width: 30px;
    margin: 20px 0 20px 0;
}
.line_post
{

}
.link_post
{

}
.tag_post
{
    direction: rtl;
}
.tagload
{
    padding: 0;
}
.tagload_ul
{
    list-style: none;
    display: block;
    /*!*list-style-type: disc;*!*/
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
    /*padding-inline-start: 40px;*/
    padding:0;
}
.tagload_li
{
    display:inline-block;
    margin-right: 5px;
    border: solid 1px rgba(0,0,0,.3);
    padding: 3px 6px 3px 6px;
    margin-bottom: 5px;
    font-size: 10px;
    outline: none;
}
.tagload_li:hover
{
    transform: scale(1.09);
    transition: transform 0.5s;
    display:inline-block;
    margin-right: 5px;
    border: solid 1px white;
    padding: 3px 6px 3px 6px;
    margin-bottom: 5px;
    font-size: 10px;
    outline: none;
}
.tagload_item
{

}
.post_info
{
    direction: rtl;
    display: flex;
    justify-content: space-between;
}
.post_info_span
{
    display: flex;
    flex-flow: row;
    margin-right: 60px;
}
.post_info_span span i
{
    color: white;
    padding: 0 10px 0 10px;
}
.post_info_span span a
{
    margin-right: 5px;
    color: #FAB702;
}
.post_info_share
{
     display: flex;
    flex-flow: row;

}
.info_share_links a
{
    margin-right: 8px;
}
.post_nav
{
    direction: rtl;
    list-style: none;
    line-height: 1.7em;
    margin-bottom: 60px;
    /*margin-top: 80px;*/
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
.post_links
{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.post_next
{

    display: flex;
    flex-flow: column;
}
.post_previous
{
    direction: ltr;
    display: flex;
    flex-flow: column;

}
.comment_div
{
    direction: rtl;
    list-style: none;
    line-height: 1.7em;
    margin-bottom: 60px;
    /*margin-top: 80px;*/
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(255,255,255,.1);
}